#disableOwnerWrap{
	display: none;
	position: absolute;
	top: 200px;
	left: calc(50% - 250px);
	width: 500px;
	
	padding: 20px 40px;
	border-radius: 3px;
	z-index: 1100;
	background-image:url(https://raw.githubusercontent.com/jjjack1/marbles/master/BANNERM3.jpg);
	background-repeat: no-repeat;
}
