#settingsPanel

	span.fa.fa-close#closeSettings

	.settingsWrap
		h3 credit score
		hr

		br  "Sunghye"    -  65
		br  "Jinhyun"    -  55
		br  "Jeong Heon" -  65
		br  "Kyungmin"   -  60
		br  "Sungwooooo" -  65
		p 
		
	
