#settingsPanel

	span.fa.fa-close#closeSettings

	.settingsWrap
		h3 Story Mode
		hr
		p Story mode enables the step by step walk through of the invocation process.
		p Enable story mode if you are new to Marbles or Fabric. 

		br
		br
		p 
		
