#homePanel.panel
	div
		#tips
			span 
			h1 Hyperledger Fabric-based C-PPoS New Credit Rating Ledger Demo
			<h2 style="color:#417556;">sa</h2>
			//Hyperledger Fabric-based C-PPoS New Credit Rating Ledger Demo

		#ownerWrap
			div#toolbarWrap
				.bottomAlign
					input(type="text" placeholder="Search Marble Owners" style="margin-left: 0; border-radius:2px;")#searchUsers.longer
					span.hint(style="margin-left: 10px; font-size: 16px;") 
						span#foundUsers 0
						span /
						span#totalUsers 0

				button(disabled="disabled")#showStartupPanel
					span.fa.fa-gears
					span &nbsp; C-PPoS
					
				span &nbsp;&nbsp;

				button(disabled="disabled")#showSettingsPanel
					
					span &nbsp; Credit score
				
		
				
				#trashbin.sortable.innerMarbleWrap
					div.fa.fa-trash-o.fa-3x(style="vertical-align: middle;")
					span &nbsp;
					div#trashText Drag and drop marble to remove
			


		#allUserPanelsWrap
			#appStartingText Connecting...
