#disableOwnerWrap
	span.fa.fa-close.closeDisableOwner#closePos

	h2 대출실행

	br
	br

	span 정말로 대출을 실행 하시겠습니까?

	br
	br


	br

	button.closeDisableOwner(style="float:left;") 아니오
	span &nbsp;&nbsp;
	button(style="float:right;")#removeOwner 예
