#startUpPanel2

	span.fa.fa-close#closeSettings

	.settingsWrap
		h3 Credit score
		hr

		p  "Sunghye"    -  65점  B등급
		p  "Jinhyun"    -  55점  C등급
		p  "Jeong Heon" -  65점  B등급
		p  "Kyungmin"   -  60점  B등급
		p  "Sungwooooo" -  65점  B
		p 
		
	
