#settingsPanel2

	span.fa.fa-close#closeSettings

	.settingsWrap
		h3 credit score
		hr

		p  "Sunghye"    -  65
		p  "Jinhyun"    -  55
		p  "Jeong Heon" -  65
		p  "Kyungmin"   -  60
		p  "Sungwooooo" -  65
		p 
		
	
